body {
    font-family: Arial, sans-serif;
    background-color: #108294;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #b6dbcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39, 9, 124, 0.1);
    width: 550px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
}
